# service file to continuously run ampControl.sh

# copy to /etc/systemd/system/ampControl.service
# sudo systemctl daemon-reload
# sudo systemctl enable ampControl.service
# sudo systemctl start ampControl

[Unit]
Description=ampControl service to monitor soundcards, send signal to esphome http API via ESP8266

[Service]
ExecStart=/path/to/script/ampControl.sh
Type=simple

[Install]
WantedBy=multi-user.target
