# sudo systemctl daemon-reload
# Enable: sudo systemctl enable snapcastStreamSelect
# Start: sudo systemctl start snapcastStreamSelect
[Unit]
Description=Snapcast auto source select
Wants=avahi-daemon.service
After=network.target time-sync.target avahi-daemon.service snapserver.service

[Service]
WorkingDirectory=/home/user/
User=user
ExecStart=/usr/bin/python3 '/home/nuthanael/Documents/snapcastStreamSelect.py'
Type=simple
Restart=on-failure

[Install]
WantedBy=multi-user.target
