[Unit]
Description=ampControl service to monitor soundcards, send signal to amps

[Service]
ExecStart=/directory/to/script/ampControl.sh
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
