[Unit]
Description=pulseaudio DLNA server to send audio to DLNA & cast devices
# Enable: sudo systemctl enable pulseaudio-dlna
# Start: sudo systemctl start pulseaudio-dlna

[Service]
Type=simple
ExecStart=/usr/local/bin/pulseaudio-dlna --port 9000

[Install]
WantedBy=multi-user.target
