[Unit]
Description=pulseaudio DLNA server to send audio to DLNA & cast devices
# file location: /lib/systemd/system/pulseaudio-dlna.service
# Enable: sudo systemctl enable pulseaudio-dlna
# Start: sudo systemctl start pulseaudio-dlna
# may need to run associated snapclient as user:
# systemctl --user start snapclient@7

[Service]
Type=simple
ExecStart=/usr/local/bin/pulseaudio-dlna --port 9000

[Install]
WantedBy=multi-user.target
