# udev rules for persistent usb soundcard device names
# copy file to /lib/udev/rules.d
# run "udevadm monitor --kernel --subsystem-match=sound"  then insert USB sound card to determine PCI device prefix
# of that particular sound card to enter below. Fill in ATTR{id}="___" with ID to be used through ALSA system
# PCI device prefix is by USB slot rather than a particular soundcard.
# from https://www.alsa-project.org/wiki/Changing_card_IDs_with_udev

SUBSYSTEM!="sound", GOTO="my_usb_audio_end"
ACTION!="add", GOTO="my_usb_audio_end"

DEVPATH=="/devices/pci0000:00/0000:00:*/sound/card3", ATTR{id}="dev_1_bed"
DEVPATH=="/devices/pci0000:00/0000:00:*/sound/card4", ATTR{id}="dev_2_bat"
DEVPATH=="/devices/pci0000:00/0000:00:*/sound/card5", ATTR{id}="dev_3_liv"
DEVPATH=="/devices/pci0000:00/0000:00:*/sound/card6", ATTR{id}="dev_4_din"
DEVPATH=="/devices/pci0000:00/0000:00:*/sound/card0", ATTR{id}="dev_5_pat"
DEVPATH=="/devices/pci0000:00/0000:00:*/sound/card2", ATTR{id}="dev_6_ts1"

LABEL="my_usb_audio_end"
